/* home */
@use "../abstracts/variables" as var;
@use "../base/typography" as type;

body {
  font-family: type.$font;
  background-color: var.$bg-very-light;
  width: min(100% - 2rem, 60ch);
  margin-inline: auto;
  margin-block: 4rem;
}

h1 {
  color: var.$primary-color;
  text-align: center;
}

.poem {
  margin-inline: auto;
  font-size: var(--font-size-fluid-2);

  &__subtitle {
    color: rgb(140, 0, 255);
    text-align: center;
  }

  &__body {
    text-align: center;
  }

  &__rule {
    --step-5: clamp(0.16rem, calc(-0.01rem + 0.81vw), 0.25rem);

    margin-block: var(--step-5);
    border: var(--step-5) solid black;
    border-radius: 60%;
    margin-inline: auto;
  }
}

.credits {
  text-align: center;
  font-size: var(--font-size-0);
  margin-inline: auto;
}


