/* home */
@use "../abstracts/variables" as var;
@use "../base/typography" as type;

body {
  font-family: type.$font;
  background-color: var.$bg-very-light;
  width: min(100% - 2rem, 60ch);
  margin-inline: auto;
  margin-block: 4rem;
}

h1 {
  color: var.$primary-color;
  text-align: center;
}

h2 {
  color: rgb(140, 0, 255);
  text-align: center;
}

.credits {
  text-align: center;
  font-size: var(--font-size-0);
  margin-inline: auto;
}
